In [1]:
import pandas as pd
films=pd.read_csv("C:\\Users\\illiyas\\Desktop\\New folder\\filmCB.csv",index_col=1)
films

                        ID  Box Office  For Children  Oscar
Film
Cronos                   1           2             1      1
Life of Brain            2           3             3      1
The Never-ending Story   3           2             5      1
Pinocchio                4           3             5      5
Titanic                  5           5             2      5

In [2]:
users=pd.read_csv("C:\\Users\\illiyas\Desktop\\New folder\\userCB.csv",index_col=1)
users

        ID  Box Office  For Children  Oscar
User
Graham   a           4             2      5
Terry G  b           1             2      2
Eric     c           5             4      4
John     d           4             3      1
Michael  e           3             2      5
Terry J  f           1             1      4

In [4]:
import numpy as np,sys
def content_recomm(user,user_df,film_df):
    u=user_df.iloc[user][1:].values
    print("user experiance")
    u_norm=np.linalg.norm(u)
    print(u_norm)
    film_recom=[]
    for row in range(film_df.shape[0]):
        f_name=film_df.index[row]
        print(f_name)
        f=film_df.iloc[row][1:].values
        f_norm=np.linalg.norm(f)
        s=np.dot(u,f)/(u_norm*f_norm)
        if s>0.8:
            film_recom.append((f_name,s))
    print("recommendations",film_recom)
    film_recom=sorted(film_recom,key=lambda x: x[1],reverse=True)
    return film_recom
print("*************************")
#r1=content_recomm(0,users,films)
#print("sorted recomendations:",r1)
print("**************************")
r2=content_recomm(1,users,films)
print("sorted recomendations:",r2)

*************************
**************************
user experiance
3.0
Cronos
Life of Brain
The Never-ending Story
Pinocchio
Titanic
recommendations [('Cronos', 0.8164965809277261), ('Life of Brain', 0.8411910241920597), ('The Never-ending Story', 0.8520128672302585), ('Pinocchio', 0.9981149841863164), ('Titanic', 0.8618575020903775)]
sorted recomendations: [('Pinocchio', 0.9981149841863164), ('Titanic', 0.8618575020903775), ('The Never-ending Story', 0.8520128672302585), ('Life of Brain', 0.8411910241920597), ('Cronos', 0.8164965809277261)]